<div class="banner">
  <div class="form-body">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3 style="text-align: center">Enjoy your {{ foodName }}</h3>

            <form
              class="requires-validation"
              [formGroup]="orderForm"
              (ngSubmit)="orderFood()"
            >
              <div class="form-group mt-5 col-md-12">
                <label for="foodName">Food Name</label>
                <input 
                  class="form-control"
                  type="text"
                  id="foodName"
                  formControlName="foodName"
                  [value]="foodName"
                  [disabled]="isDisabled"
                />
              </div>

              <div class="form-group mt-3 col-md-12">
                <label for="emailId">Email</label>
                <input
                  class="form-control"
                  type="text"
                  id="emailId"
                  formControlName="emailId"
                  
                />
              </div>
              <div id="emailIdError" class="alert alert-danger mt-1" role="alert" *ngIf="orderForm.controls['emailId'].invalid">
                <span ngIf="orderForm.controls['emailId'].errors['required']">Field Required</span>
                <span>* This is a danger alert—check it out!</span>
                
              </div>
              <div class="form-group mt-3 col-md-12">
                <label for="mobileNumber">Mobile Number</label>
                <input
                  class="form-control"
                  type="number"
                  id="mobileNumber"
                  formControlName="mobileNumber"
                />
              </div>

              <div id="mobileNumber" class="alert alert-danger mt-1" role="alert" *ngIf="orderForm.controls['mobileNumber'].invalid && orderForm.controls['mobileNumber'].dirty">
                <span ngIf="orderForm.controls['mobileNumber'].errors['required']">Field Required</span>
                <span>* This is a danger alert—check it out!</span>
                
              </div>

              <div class="form-group mt-3 col-md-12">
                <label for="address">Address</label>
                <input
                  class="form-control"
                  type="text"
                  id="address"
                  formControlName="address"
                />
              </div>

              <div class="form-group mt-3 col-md-12">
                <label for="quantity">Quantity</label>
                <input
                  class="form-control"
                  type="text"
                  id="quantity"
                  formControlName="quantity"
                />
              </div>
              <div class="form-group mt-3 col-md-12">
                <label for="orderDate">Order Date</label>
                <input
                  class="form-control"
                  type="date"
                  id="orderDate"
                  formControlName="orderDate"
                />
              </div>
              <div class="form-group mt-3">
                <button id="submit" type="submit" class="btn btn-primary">
                  Order !!!
                </button>

                <button
                  id="showMenu"
                  class="btn btn-primary"
                  style="float: right"
                >
                  Show Menu
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
